    <div class="main_top">
      <div class="top_left">
        <div class="login_room">
          <%= @room.name %>
        </div>
      </div>
      <div class="top_right">
        <div class="room_exit">
          <%= link_to 'チャットを終了する', room_path(@room), data: { turbo_method: :delete } %>
        </div>
      </div>
    </div>

    <div class="main_chat">
      <%= render partial: 'message', collection: @messages %>
    </div>

  <%= form_with model: [@room, @message], class: 'main_bottom', local: true do |f| %>
    <div class="input_form">
      <%= f.text_field :content, class: 'm_text', placeholder: 'type a message' %>
      <label class="m_image">
        <span class="select_image">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'm_send' %>
  <% end %>
